/* css styles */
.highlight {
  background-color: #fff3b0;
  padding: 0.1em 0.25em;
  border-radius: 0.2em;
}
.highlight2 {
  background-color: #b9c3d0;
  padding: 0.1em 0.25em;
  border-radius: 0.2em;
}